* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color:#333333;
}

.introduction {
  width:100vw;
  height:100vh;
  background-color:#F0F0F0;
}

.introduction div{
  width:60vw;
  background-color:yellow;
  margin: 0 auto;
}

.introduction h1 {
  padding:2em;
  text-align:center;
}
