* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

html {
  font-size: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color:#707070;
  font-size:1rem;

}

.wrapper {
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background: rgb(255,83,169);
  background-image: linear-gradient(45deg, rgba(255,83,169,1) 0%, rgba(255,74,74,1) 99%, rgba(255,83,169,1) 100%);
  background-size: 600% 600%;
  animation: 6s ease 0s infinite alternate both running bg-move;
  z-index: -4;
}

.SvGbackground-left{
  width:30vw;
  position:absolute;
  bottom:0;
  left:-15vw;
  z-index:-2;
  animation: bgLeft 6s infinite;
}

.SvGbackground-right{
  height:100vh;
  position:absolute;
  bottom:0;
  /* right:-21.5vw; */
  right:-25vw;
  z-index:-2;
  animation: bgRight 5s infinite;
}


section {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x:hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* ----------------------------------------------
Navigation
---------------------------------------------- */
nav {
  position: absolute;
  left: 2vw;
  top: 4vh;
  z-index: 3;
}

nav ul {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
  display: block;
  height: 6vh;
  display:flex;
  align-items: center;
  margin:.5em 0;
  border-left: 3px solid #1F615F;
  padding: 0 0 0 .8em;
  color:gray;
  transition-duration: .5s;
}

nav ul:hover li {
  border-left: 3px solid #1F615F;
  color:#1F615F;
  background-color: rgba(255, 255, 255, 1);
  /* padding-right: 1em; */
  border-radius: 0 .5em .5em 0;
}

.active {
  border-left: 3px solid white;
  /* color:white; */
}

.notactive {
  border-left: 3px solid #1F615F;
  /* color:#1F615F; */
}

nav a {
  text-decoration: none;
  
}

nav ul li span {
  opacity: 0;
  transition-duration: .5s;
}

nav ul:hover li span {
  opacity: 1;
  color:gray;
  
}
nav ul li:hover span {
  color:rgba(205,0,130,1)
  /* font-weight:800; */
}


/* ----------------------------  END Navigation --------------------------------- */



/* ----------------------------------------------
Introduction 
---------------------------------------------- */

.introduction {
  /* background: url("./img/background.svg"); */
  /* background-size: cover;
  background-position: center; */
  scroll-snap-align: center;
  position:relative;
}

.introduction div{
  width:50vw;
  margin: 0 auto;
}

.introduction h1 {
  padding:2em 2em 0 2em;
  text-align:center;
  font-size: 3em;
  color:white;
}

.introduction p {
  padding: 1.5em 2em 2em 2em;
  text-align:center;
  line-height:1.5em;
  color:white;
}

.introduction svg{
  display:block;
  margin: 2em auto 0 auto;
}
/* ----------------------------  END introduction --------------------------------- */



/* ----------------------------------------------
Persona's
---------------------------------------------- */

.persona h2{
  text-align:center;
  margin-top:4em;
  color:white;

}

.persona div {
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items:center;
  margin: 0;
  padding-top:1em;
}

.persona h3 {
  padding-left:.5em;
  font-size:1em;
}

.personaNathan {
  width:4em;
  border: 3px solid white;
  background-color: white;
  border-radius:50%;
}

.containerNathan h3 {
  color: white;
}

.personaArthur {
  width:4em;
  border: 3px solid white;
  background-color: white;
  border-radius:50%;
}

.containerArthur h3 {
  color: white;
}

.personaDenise {
  width:4em;
  border: 3px solid white;
  background-color: white;
  border-radius:50%;
}

.containerDenise h3 {
  color: white;
}

.personaJustin {
  width:4em;
  border: 3px solid white;
  background-color: white;
  border-radius:50%;
}

.containerJustin h3 {
  color: white;
}

/* ----------------------------  END Persona's --------------------------------- */


.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
      transform: translateY(0);
  }

  40% {
      transform: translateY(-30px);
  }

  60% {
      transform: translateY(-15px);
  }
}

@keyframes bg-move {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bgLeft {

	0% {
    transform: translateY(40px);
    transform: scale(1)
  }
  25% {
    
  }
	50% {
    transform: translateY(0px);
    transform: translateX(20px);
    transform: scale(1.2)
  }
  75% {
		
	}
	100% {
    transform: translateY(40px);
    transform: scale(1)
	}
}

@keyframes bgRight {

	0% {
    transform: translateY(20px);
    transform: scale(1.1)
  }
  25% {
    
  }
	50% {
    transform: translateY(0px);
    transform: translateX(10px);
    transform: scale(1.15)
  }
  75% {
		
	}
	100% {
    transform: translateY(20px);
    transform: scale(1.1)
	}
}
/* ----------------------------------------------
TEMPLATE TOPIC PAGES
---------------------------------------------- */
.Topic {
  background-color:#000000;
  scroll-snap-align: center;
  display:flex;
  justify-content: center;
  flex-direction: row;
}

/* DIt IS RAAR. DE MARGIN VAN H2 EN P ZIJN NIET HETZEFLDE? */
.TopicInfo{
  margin: 2em 10em 0 2em;
}

.Topic h2{
  color:white;
}

.Topic p{
  color:white;
  padding-top:1em;
  font-weight:100;
  line-height: 1.4em;
}

/* MESSAGES */

.messages {
  width:30vw;
  height:88vh;
  margin:3em 3em 3em 1em;
  border-radius: 1em;
  background-color: #1C1C1C;
}

.messages h3 {
  padding:2em 2em 1em 2em;
  color:white;
}

.messageContainer {
  overflow-Y: scroll;
  height:78vh;
}

.messageContainer::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.singleMessage {
  margin:2em 2em 1em 2em;
  background-color: #2F2F2F;
  border-radius: .5em;
  position:relative;
}

.singleMessage h4{
  padding-left:1em;
  color: white;
}

.singleMessage p{
  padding:0em 2em 1em 2em;
  color: white;
  line-height: 1.5em;
  font-weight: 400;
}

.singleMessage .messageRight{
  width:1em;
  height:1em;
  background-color:#2F2F2F;
  position:absolute;
  transform: rotate(45deg);
  right: -.4em;
  top: 1.5em;
  border-radius: .2em;
}

.singleMessage .messageLeft{
  width:1em;
  height:1em;
  background-color:#2F2F2F;
  position:absolute;
  transform: rotate(45deg);
  left: -.4em;
  top: 1.5em;
  border-radius: .2em;
}

.MessageImage{
  width:100%;
}

.AvatarWrap {
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-top:1em;
  margin:2em 1em 1em 2em;

}

.gif{
  width:100%;
  height:24vh;
}
.avatar{
  width:3vw;
  height:3vw;
  border-radius:50%;
}


/* ----------------------------------------------
Sport
---------------------------------------------- */

.datavisSport {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(243,124,124);
  background: linear-gradient(190deg, rgba(243,124,124,1) 0%, rgba(205,0,130,1) 100%);
  border-radius: 1em;
}

/* SPORT CATEGORIES */

.sportCategories {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  margin: 3em 2em 0em 2em;
}

.notAllowed {
  opacity: .5;
}

.sportContainer {
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
  width: 55vw;
  height:48vh;
  margin: 0 auto;
}


/* LEGEND */
.legend {
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items:center;
  width:100%;
  padding: 2em 4vw 1em 0em;
}

.legend-Container {
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items:baseline;
  margin:0 1em;
}

.legend-NotAllowed{
  width:1em;
  height:1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:50%;
  margin-right:.5em;
  
}

.legend-Allowed{
  width:1em;
  height:1em;
  background-color: rgba(255, 255, 255, 1);
  border-radius:50%;
  margin-right:.5em;
}

/* Bron: https://css-tricks.com/css-only-carousel/ */
 /* SLIDER SLIDER SLIDER  */
.slider {
  width: 100%;
  text-align: center;
  /* overflow: hidden; */
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 60vh;
  margin-top:2em;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  display: flex;
  flex-direction: column;
}

 /* END SLIDER SLIDER SLIDER  */

.SportIntro {
  width:60%;
  font-size:1.8em;
  color:white;
  line-height: 140%;
  margin:auto auto;
}

.impact {
  font-weight:800;
  font-size:2.5em;
  color:white;
}

.IconContainer {
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  margin: 1em 0 1em 0;
}

.lastImpact {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 1em 0 1em 0;
}

.impactNumbers {
  padding-top:2em;
}

.sportInfo {
  margin:0 0 2em 0;
}

.sportCategories img{
  width:5vw;
  height:5vw;
}

.sportTitle {
  width:50%;
  margin:0 auto;
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.sportTitle h4 {
  color:white;
  font-size:1.2em;
  font-weight:400;

}

.SliderArrowLeft {
  transform: rotate(90deg);
}

.SliderArrowRight {
  transform: rotate(-90deg);
}

/* ----------------------------  END Sport --------------------------------- */


/* ----------------------------------------------
Public Transport
---------------------------------------------- */

.datavisPT {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(243,124,124);
  background: linear-gradient(190deg, rgba(243,124,124,1) 0%, rgba(205,0,130,1) 100%);
  /* background: rgb(202,99,252); */
  /* background: linear-gradient(190deg, rgba(202,99,252,1) 0%, rgba(68,0,205,1) 100%);  */
  border-radius: 1em;
}

.ovVisual {
  width:80%;
  height:80%;
  display:flex;
  justify-content: center;
  /* background-color:yellow; */
  margin:auto auto;
}

.ovVisual img {
  width:100%;
  /* margin:auto; */

}

/* ----------------------------  END Public Transport --------------------------------- */


/* ----------------------------------------------
Social Contact
---------------------------------------------- */
.datavisSC {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(243,124,124);
  background: linear-gradient(190deg, rgba(243,124,124,1) 0%, rgba(205,0,130,1) 100%);
  border-radius: 1em;
}

.SCcontainer{
  width:100%;
}

.SC2019 {
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top:2em;
}
.SC2020{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top:4em;
}

.SCYear {
  width:100%;
  margin: 2em 0;
  text-align:center;
}

.SCYear span {
  font-size:2.5em;
  font-weight:600;
}

.SCcategory {
  margin: 0 1em;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items: center;
}

.footerText {
  text-align:right;
  font-size:85%;
  padding-right:2em;
}

.SCFriends2019, .SCFamily2019, .SCNeighbours2019,
.SCFriends2020, .SCFamily2020, .SCNeighbours2020 {
  background-color:rgba(255,255,255,.3);
  width:9.5vw;
  height:9.5vw;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
}


.SCFamily2019 {
  background-color:rgba(255,255,255,.5);
  width:7.8vw;
  height:7.8vw;
}

.SCNeighbours2019 {
  background-color:rgba(255,255,255,.7);
  width:4.7vw;
  height:4.7vw;
}

.SCFriends2020 {
  background-color:rgba(255,255,255,.3);
  width:4vw;
  height:4vw;
}

.SCFamily2020 {
  background-color:rgba(255,255,255,.5);
  width:5vw;
  height:5vw;
}

.SCNeighbours2020 {
  background-color:rgba(255,255,255,.7);
  width:3.5vw;
  height:3.5vw;
}

.SCFriends2019 img{
  width:95%;
  height:95%;
}

.SCFamily2019 img{
  width:78%;
  height:78%;
}

.SCNeighbours2019 img{
  width:46%;
  height:46%;
}


.SCFriends2020 img{
  width:40%;
  height:40%;
}

.SCFamily2020 img {
  width:50%;
  height:50%;
}

.SCNeighbours2020 img{
  width:35%;
  height:35%;
}


/* ----------------------------  END Social Contact --------------------------------- */

/* ----------------------------------------------
Ondernemers
---------------------------------------------- */
.datavisOndernemers {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(62,155,109);
  background: linear-gradient(190deg, rgba(62,155,109,1) 0%, rgba(0,205,205,1) 100%);
  /* background: rgb(255,88,244);
  background: linear-gradient(-130deg, rgba(255,88,244,1) 0%, rgba(255,135,97,1) 100%); */
  border-radius: 1em;
}

.OndernemersContainer{
  width:100%;
  margin-top:4em;
  display:flex;
  justify-content: center;
}

.OndernemersContainer img {
  width:90%;
  margin:0 auto;
}

/* ----------------------------  END Ondernemers --------------------------------- */


/* ----------------------------------------------
Vacation
---------------------------------------------- */
.datavisVacation {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(243,124,124);
  background: linear-gradient(190deg, rgba(243,124,124,1) 0%, rgba(205,0,130,1) 100%);
  
  /* background: rgb(202,99,252); */
  /* background: linear-gradient(190deg, rgba(202,99,252,1) 0%, rgba(68,0,205,1) 100%);  */
  border-radius: 1em;
}

.VacationIntro {
  width:80%;
  font-size:1.8em;
  color:white;
  line-height: 140%;
  margin:auto auto;
}

.VacationIntro img{
  width:100%;
}

.VacationDatavis{
  width:60%;
  font-size:1.8em;
  color:white;
  line-height: 140%;
  margin:auto auto;
}

.VacationDatavis img {
  width:100%;
}

.jaarButton {
  padding:.5em;
  margin:1em;
  background-color:transparent;
  border:1px solid white;
  border-radius: .2em;
  color:white;
  outline:none;
}

.jaarButtonActive {
  padding:.5em;
  margin:1em;
  border-radius: .2em;
  outline:none;
  background-color:white;
  border:1px solid white;
  color:#1F615F;
}

/* ----------------------------  END Vacation --------------------------------- */

/* ----------------------------------------------
WORK
---------------------------------------------- */
.datavisWork {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(202,99,252);
  background: linear-gradient(190deg, rgba(202,99,252,1) 0%, rgba(68,0,205,1) 100%); 
  border-radius: 1em;
}

.Workcontainer {
  margin:2em 4em;
  overflow-x: scroll;
  position: relative;
}

.workDatavisContainer {
  width:50vw;
  height:60vh;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;

}

.workLegend{
  height:4vh;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.workLegend{
  height:100%;
}


.Workcontainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.Workcontainer::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.Workcontainer::-webkit-scrollbar-track {
  background: transparent;
}

.month {
  /* width:8vw; */
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin:0 2em;
  padding-bottom:2em;

}


.month img {
  height:80%;
}


/* ----------------------------  END Work --------------------------------- */

/* ----------------------------------------------
Uitgave
---------------------------------------------- */
.datavisUitgaven {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(62,155,109);
  background: linear-gradient(190deg, rgba(62,155,109,1) 0%, rgba(0,205,205,1) 100%);
  /* background: rgb(243,124,124); */
  /* background: linear-gradient(190deg, rgba(243,124,124,1) 0%, rgba(205,0,130,1) 100%); */
  border-radius: 1em;
}

.uitgavenContainer {
  width:100%;
  margin-top:4em;
  display:flex;
  justify-content: center;
}

.uitgavenContainer img {
  width:60%;
  margin:0 auto;
}



/* ----------------------------  END Uitgave --------------------------------- */

/* ----------------------------------------------
Thuiswerken
---------------------------------------------- */
.datavisWH {
  width: 70vw;
  height: 88vh;
  margin: 3em 1em 3em 5em;
  background: rgb(202,99,252);
  background: linear-gradient(190deg, rgba(202,99,252,1) 0%, rgba(68,0,205,1) 100%); 
  border-radius: 1em;
}

.firstVisual{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top:2em;
}

.secondVisual {
  padding:0 2em;
  background-color:rgba(255,255,255,.3);
  margin:2em 2em 0 2em;
  border-radius:.5em;

}

.barchartContainer {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin:.5em 0 0 0;
}

.barchart{
  width:100%;
}

.barchartContainer img {
  width:80%;
}

.wordcloud {
  width:40%;
  padding:0 2em;
  display:flex;
  justify-content: center;
}

.wordcloud img {
  width:100%;
}

.mapNL {
  width:50%;
  padding: 0em 2em;
  display:flex;
  justify-content: center;
}

.mapNL img{
  width:60%;
}


/* ----------------------------  END Thuiswerken --------------------------------- */


/* ----------------------------  BREAK POINTS --------------------------------- */
/* ----------------------------  BREAK POINTS --------------------------------- */
/* ----------------------------  BREAK POINTS --------------------------------- */
@media all and (min-width: 1000px) {
  .introduction div{
    width:60vw;
  }
  
  .messageContainer {
    height:76vh;
  }

  .TopicInfo{
    margin: 2em 3em 0 2em;
  }

  .sportCategories img {
    width:8vw;
    Height:6vw;
  }

  .sportContainer {
    height:45vh;
  }

  html {
    font-size:80%;
  }
  
}

@media all and (min-width: 1250px) {
  .introduction div{
    width:60vw;
  }

  .persona h2{
    margin-top:2em;
  }

  .messageContainer {
    height:76vh;
  }

  .TopicInfo{
    margin: 2em 3em 0 2em;
  }

  .sportCategories img {
    width:5vw;
    Height:5vw;
  }

  .sportContainer {
    height:40vh;
  }

  html {
    font-size:100%;
  }
  
}

@media all and (min-width: 1340px) {
  .messageContainer {
    height:77vh;
  }

  .persona h2{
    margin-top:4em;
  }


  .TopicInfo{
    margin: 2em 6em 0 2em;
  }

  .sportContainer {
    height:46vh;
  }

  .sportCategories img {
    width:5vw;
    Height:5vw;
  }

  
}

@media all and (min-width: 1400px) {
  .introduction div{
    width:50vw;
  }

  .messageContainer {
    height:76vh;
  }

  .TopicInfo{
    margin: 2em 4em 0 2em;
  }

  .sportCategories img {
    width:5vw;
    Height:5vw;
  }

  
}

@media all and (min-width: 1550px) {
  .messageContainer {
    height:77vh;
  }

  .TopicInfo{
    margin: 2em 10em 0 2em;
  }

  .sportCategories img {
    width:5vw;
    Height:5vw;
  }

  .sportContainer {
    height:53vh;
  }
}

@media all and (min-width: 1900px) {
  .sportContainer {
    height:50vh;
  }

  .sportCategories img {
    width:5vw;
    Height:5vw;
  }

  html {
    font-size:120%;
  }
}

@media all and (min-width: 2500px) {
  .sportCategories img {
    width:8vw;
    Height:7vw;
  }

  .sportContainer {
    height:46vh;
  }
  html {
    font-size:180%;
  }
}

@media all and (min-width: 3400px) {
  .sportCategories img {
    width:5vw;
    Height:5vw;
  }

  .sportContainer {
    height:48vh;
  }
  html {
    font-size:270%;
  }

}



/* D3 VISUAL  */


rect {
  fill: #00bfbf;
}


.axis-y .tick text {
  font-size: 1.2em;
  fill: #6f7173;
}

.axis-x .tick text {
  font-size: .8em;
  fill: #6f7173;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 2.5em;
  fill: #6f7173;
  ;
}

.container {
  margin: 1em auto 3em auto;
  width: 100%;
  padding: 0 2em;
}

.container .group {
  padding: 8px 48px;
  margin: 8px;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
}

label::before {
  content: "";
  background: url("../src/img/check-circle.svg");
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -44px;
  top: -8px;

  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked+label::before {
  transform: scale(1) rotateZ(0deg);
}

label::after {
  content: "";
  border: 2px solid #00bfbf;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -42px;
  top: -6px;
  border-radius: 50%;
}



